
.main-container{
    width: 100%;
    padding: 20px;
}
.discount-calculator{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 28rem;
    max-width: 40rem;
    padding: 20px;
    margin: auto;
    border-radius: 2rem;
    box-shadow: 2px 2px 4px green;
    gap: 20px;
}
.fa-solid{
    color: var(--icons-color);
    text-align: center;
}
.fa-tags{
    color: var();
    font-size: 4rem;
}
.discount-calculator--title{
    text-align: center;
}
.discount-calculator--form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.coupons__input{
    border: none;
    border-radius: 8px;
    background-color: var(--buttom-bacground__color);
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--input-text__color);
    padding: 4px 12px;
    
}