:root {
    --background__color: #181a18;
    --text__color: #c1d1b1;
    --title__color: #FFF;
    --input-text__color: #97dd97;
    --section__color: #253625;
    --input-background__color: #3e583e;
    --buttom-bacground__color: #445044;
    --icons-color:#28a828;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: var(--text__color);
    background-color: var(--background__color);
}
a{
    text-decoration: none;
}
input {
    min-width: 200px;
    padding: 8px;
    background-color: var(--input-background__color);
    color: var(--input-text__color);
    border: none;
    border-radius: 4px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

button {
    padding: 4px 12px;
    border: none;
    border-radius: 8px;
    background-color: var(--buttom-bacground__color);
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--input-text__color);
    cursor: pointer;
}

header {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: var(--section__color);
    border-radius: 0px 0px 8px 8px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: var(--title__color);
}
header .fa-house{
    color: var(--title__color);
    font-size: 3rem;
    height: 100%;
    cursor: pointer;
}
header .fa-house:hover{
    color: var(--icons-color);
}
.main-container{
    width: 100%;
    padding: 20px;
}
.output-text{
    border: 1px solid green;
    min-height: 64px;
    width: 70%;
    min-width: 200px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--input-background__color);
    color: var(--input-text__color);
}
