
.mainContainer {
    display: grid;
    grid-auto-rows: minmax(20rem, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    width: 100%;
    place-content: center;
    gap: 20px;
    padding: 20px;

}

.mainContainer section,
.mainContainer section form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.mainContainer section {
    margin: auto;
    background-color: var(--section__color);
    border-radius: 2rem;
    padding: 20px;
    box-shadow: 2px 2px 4px green;

}